opencv-python==4.5.5.64
opencv-contrib-python==4.5.5.64
numpy==1.26.4
pydub
ffmpeg
simpleaudio
gtts
pygame
python3-dev
libasound2-dev
argparse
matplotlib
libatlas-base-dev
libhdf5-dev
libhdf5-serial-dev
libjasper-dev
libqtgui4
libqt4-test

